version: 2.1

orbs:
  orb-tools: circleci/orb-tools@10.0

workflows:
  publish-dev:
    jobs:
      - orb-tools/lint
      - orb-tools/pack:
          source-dir: src
          destination-orb-path: orb.yml
          workspace-path: orb.yml
          artifact-path: orb.yml
          requires: [orb-tools/lint]
      - orb-tools/publish-dev:
          orb-name: orb-01scan/sast-orb
          requires: [orb-tools/pack]
      - orb-tools/publish:
          orb-ref: orb-01scan/sast-orb@0.0.1
          attach-workspace: true
          requires: [orb-tools/publish-dev]
          filters:
            branches:
              only:
                -main
